<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <form class="form-horizontal" #withdrawForm="ngForm" (ngSubmit)="OnSubmit(withdrawForm)">
                        <div class="card-header card-header-text" data-background-color="blue">
                            <h4 class="card-title">Withdraw</h4>
                        </div>
                        <div class="card-content">
                            <div class="row">
                                <label class="col-sm-2 label-on-left">Your Free Margin</label>
                                <label class="col-sm-2 label-on-left" style="color: black;font-size: 18px">
                                    <span [innerHTML]="freeMargin"></span>
                                </label>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 label-on-left">Fund Your Account</label>
                                <div class="col-sm-2">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label" data-error="Required field!"></label>
                                        <input class="form-control validate" type="text" style="text-align:center;font-size:30px" placeholder="Amount" name="AmountRequest"
                                            #AmountRequest="ngModel" [(ngModel)]="asset.AmountRequest" autocomplete="off" required
                                            onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.ctrlKey == true"
                                            (keyup)="asset.AmountRequest=setFormatCurrency(AmountRequest.value)">
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                                <label class="col-sm-1 label-on-right">USD</label>
                            </div>
                            <div class="modal fade" id="noticeModalSubmit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-notice">
                                    <div class="modal-content">
                                        <div class="modal-header text-center">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                <i class="material-icons">clear</i>
                                            </button>
                                            <h3 class="modal-title" id="myModalLabel">Do you want to withdraw?</h3>
                                        </div>
                                        <div class="modal-body">
                                            <div class="instruction" style="font-size:20px">
                                                <p>Your Free Margin
                                                    <span [innerHTML]="freeMargin"></span>
                                                </p>
                                                <p>
                                                    Withdrawal fund your account {{ asset.AmountRequest }} USD
                                                </p>
                                            </div>
                                        </div>
                                        <div class="modal-footer text-center">
                                            <button type="submit" class="btn btn-info btn-lg" [disabled]="this.amtReqVal > this.freeVal" data-dismiss="modal" (click)="OnSubmit(withdrawForm)">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="row">
                              <label class="col-sm-2 label-on-left"></label>
                              <div class="col-sm-8">
                                  <div class="form-group label-floating is-empty">
                                      <input class="form-control validate" type="text" placeholder="Amount" name="amountRequest" #amountRequest="ngModel" [(ngModel)]="asset.amountRequest" required>
                                      <label data-error="Required field!"></label>
                                      <span class="help-block">A block of help text that breaks onto a new line.</span>
                                  </div>
                              </div>
                          </div> -->
                            <br>
                            <div class="row">
                                <label class="col-sm-2 label-on-left"></label>
                                <div class="col-sm-10">
                                    <button type="button" class="btn btn-fill btn-info" [disabled]="!withdrawForm.valid" data-toggle="modal" data-target="#noticeModalSubmit">Withdraw</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>