<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <!-- <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="card card-stats" >
                  <div class="card-header"  data-background-color="red">
                      <i class="material-icons">content_copy</i>
                  </div>
                  <div class="card-content">
                      <p class="category">Sell</p>
                      input type="hidden" #hdBid value={{feedBid}}>
                      <h3 class="title" [style.color] = "colorBid">{{feedBid}}</h3>
                      <h3><span #spBid [innerHTML]='feedBid' [style.color] = 'colorBid'></span></h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                        <i class="material-icons">update</i>
                        <button class="btn btn-default btn-xs" (click)="onAdd('Sell',size.value,spBid.innerHTML)">Sell</button>
                      </div>
                  </div>
              </div>
          </div> -->
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-header card-header-text" data-background-color="blue">
                        <h4>
                            <strong>Sell/Buy</strong>
                        </h4>
                    </div>
                    <div class="card-content text-center">
                        <!-- <p class="category">Sell/Buy</p> -->
                        <!-- <h3 class='text-center'>
                            <span #spBid [innerHTML]='feedBid' [style.color] = 'colorBid'></span>
                            <span #spAsk [innerHTML]='feedAsk' [style.color] = 'colorAsk'></span>
                        </h3> -->
                        <!-- <div class="card-header card-header-text" data-background-color="orange">
                        <h4 class="card-title">Employees Stats</h4>
                        <p class="category">New employees on 15th September, 2016</p>
                        </div>
                        <div *ngIf="feedBid != '' " class="card-header card-header-text div-bid" data-background-color="blue">
                        </div>
                        <div *ngIf="feedAsk != '' " class="card-header card-header-text div-bid">
                        </div>
                        -->


                        <div class="modal fade" id="noticeModalOrder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-notice">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                            <i class="material-icons">clear</i>
                                        </button>
                                        <h3 class="modal-title" id="myModalLabel">Order</h3>
                                    </div>
                                    <form class="form-horizontal" #tradeForm="ngForm">
                                        <div class="modal-body">
                                            <div class="instruction">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Symbol</label>
                                                            <select name="symbol" class="form-control">
                                                                <option value="Afghanistan">XAUUSD, GOLD vs US Dollar</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Size</label>
                                                            <div class="input-group">
                                                                <label class="control-label" data-error="Required field!"></label>
                                                                <input class="form-control validate" style="text-align:center;font-size:30px" type="number" name="size" #size [(ngModel)]="txtSize"
                                                                    required autocomplete="off" min="0.01" step="0.01" maxlength="4"
                                                                    (blur)="onSizeBlur(size.value)" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46 || event.charCode === 0">
                                                                <span class="help-block"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- <div class="col-md-6">
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Size</label>
                                                        <div class="input-group">
                                                            <label class="control-label" data-error="Required field!"></label>
                                                            <input class="form-control validate" style="text-align:center;font-size:22px" type="number" name="size" #size="ngModel" [(ngModel)]="txtSize"
                                                                required autocomplete="off" min="0.00" step="0.01" maxlength="4"
                                                                (blur)="onBlur(size.value)">
                                                            <span class="help-block"></span>
                                                        </div>
                                                    </div>
                                                </div> -->
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Stop Loss</label>
                                                            <div class="input-group">
                                                                <label class="control-label" data-error="Required field!"></label>
                                                                <input class="form-control validate" style="text-align:center;font-size:30px" type="number" name="stop" #stop="ngModel" [(ngModel)]="txtStop"
                                                                    required autocomplete="off" min="0.00" step="0.01" maxlength="7">
                                                                <span class="help-block"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Take Profit</label>
                                                            <div class="input-group">
                                                                <label class="control-label" data-error="Required field!"></label>
                                                                <input class="form-control validate" style="text-align:center;font-size:30px" type="number" name="take" #take="ngModel" [(ngModel)]="txtTake"
                                                                    required autocomplete="off" min="0.00" step="0.01" maxlength="7">
                                                                <span class="help-block"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- <div class="row">
                                                    <div style="min-height:40px">
                                                        <span class="category form-category text-center text-rose" *ngIf="!IsTradeInvalid">*Invalid stop loss or take profit</span>
                                                    </div>
                                                </div> -->

                                                <div class="nav-center">
                                                    <ul class="nav nav-pills nav-pills-info nav-pills-icons" role="tablist">
                                                        <li class="active">
                                                            <a href="#InstantExecutionTab" role="tab" data-toggle="tab">
                                                                Instant Execution
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#PendingOrderTab" role="tab" data-toggle="tab">
                                                                Pending Order
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="tab-content">
                                                    <div class="tab-pane active" id="InstantExecutionTab">
                                                        <div class="card">
                                                            <div class="card-content">
                                                                <!-- content trade -->
                                                                <div class="form-group label-floating">
                                                                    <label class="control-label">Instant Execution</label>
                                                                    <Br>
                                                                    <!-- <div class="col-md-12" style="font-size:35px;min-width:300px">
                                                                        <span [innerHTML]="feedBid"></span> /
                                                                        <span [innerHTML]="feedAsk"></span>
                                                                    </div> -->
                                                                    <div class="col-md-12" style="font-size:40px">
                                                                        <button style="background-color:white;border-width:0px;height:40px" [class]="clsBtnBid">
                                                                            <span [innerHTML]="feedBid"></span>
                                                                        </button>
                                                                        <!-- <span>/</span> -->
                                                                        <button style="background-color:white;border-width:0px;height:40px" [class]="clsBtnAsk">
                                                                            <span [innerHTML]="feedAsk"></span>
                                                                        </button>
                                                                    </div>
                                                                    <hr>
                                                                    <br>
                                                                    <button type="button" class="btn btn-danger btn-lg" [disabled]="!tradeForm.valid || size.value == 0 || (take.value != 0 && (take.value + 2) > feedBid) || (stop.value != 0 && (stop.value - 2) < feedBid)"
                                                                        data-dismiss="modal" (click)="onAdd('Sell',false,size.value,hdSell.value,stop.value,take.value)">Sell</button>
                                                                    <button type="button" class="btn btn-info btn-lg" [disabled]="!tradeForm.valid || size.value == 0 || (take.value != 0 && (take.value - 2) < feedAsk) || (stop.value != 0 && (stop.value + 2) > feedAsk)"
                                                                        data-dismiss="modal" (click)="onAdd('Buy',false,size.value,hdBuy.value,stop.value,take.value)">Buy</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane" id="PendingOrderTab">
                                                        <div class="card">
                                                            <div class="card-content">
                                                                <!-- content Place -->
                                                                <div class="form-group label-floating">
                                                                    <label class="control-label">Type</label>
                                                                    <select #selectPlaceOrderType class="form-control" (change)="onSelectedPlaceOrderType($event)">
                                                                        <option value="Buy">Buy Limit</option>
                                                                        <option value="Sell">Sell Limit</option>
                                                                    </select>
                                                                </div>

                                                                <div class="form-group label-floating">
                                                                    <div class="row">
                                                                        <label class="control-label">Pending Order</label>
                                                                        <div class="col-md-12">
                                                                            <input class="form-control validate" style="text-align:center;font-size:30px" type="number" name="Place" #Place="ngModel"
                                                                                number="true" [(ngModel)]="txtPlace" required
                                                                                autocomplete="off" min="0.00" step="0.01" maxlength="7"
                                                                                (change)="onPlaceOrderChange($event,selectPlaceOrderType.value)"
                                                                                (blur)="onPlaceOrderBlur($event, Place.value)">
                                                                            <div style="min-height:40px">
                                                                                <span class="category form-category text-center text-rose" *ngIf="
                                                                                (selectPlaceOrderType.value == 'Buy' && Place.value > (feedAsk - 2) && Place.value < feedAsk) || 
                                                                                (selectPlaceOrderType.value == 'Sell' && Place.value < (feedBid - (-2)) && Place.value > feedBid) ||
                                                                                Place.value == 0">*Invalid Price
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                        <hr>
                                                                    </div>
                                                                    <!-- <button *ngIf="!placeTypeSelected" type="button" class="btn btn-danger btn-lg" [disabled]="!tradeForm.valid || Place.value === 0 || Place.value === '0.00' || !(Place.value > feedBid)" data-dismiss="modal" name="btnPlace" #btnPlace (click)="onAdd(selectPlaceOrderType.value,true,size.value,Place.value,stop.value,take.value)">Place</button>
                                                                    <button *ngIf="placeTypeSelected" type="button" class="btn btn-info btn-lg" [disabled]="!tradeForm.valid || Place.value === 0 || Place.value === '0.00' || !(Place.value < feedAsk)" data-dismiss="modal" name="btnPlace" #btnPlace (click)="onAdd(selectPlaceOrderType.value,true,size.value,Place.value,stop.value,take.value)">Place</button>
                                                                     -->
                                                                    <button *ngIf="!placeTypeSelected" type="button" class="btn btn-danger btn-lg" [disabled]="!tradeForm.valid || Place.value == 0 || size.value == 0 || (selectPlaceOrderType.value == 'Sell' && Place.value < feedBid-(-2)) && Place.value > feedBid || (take.value != 0 && (take.value + 2) > Place.value) || (stop.value != 0 && (stop.value - 2) < Place.value)"
                                                                        #btnPlace (click)="onAdd(selectPlaceOrderType.value,true,size.value,Place.value,stop.value,take.value)">Place</button>
                                                                    <button *ngIf="placeTypeSelected" type="button" class="btn btn-info btn-lg" [disabled]="!tradeForm.valid || Place.value == 0 || size.value == 0 || (selectPlaceOrderType.value == 'Buy' && Place.value > (feedAsk - 2) && Place.value < feedAsk) || (take.value != 0 && (take.value - 2) < Place.value) || (stop.value != 0 && (stop.value + 2) > Place.value)"
                                                                        #btnPlace (click)="onAdd(selectPlaceOrderType.value,true,size.value,Place.value,stop.value,take.value)">Place</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Type</label>
                                                            <select name="Type" class="form-control" (change)="onSelectedOrderType($event)">
                                                                <option value="Instant">Instant Execution</option>
                                                                <option value="Pending">Pending Order</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                    </div>
                                                </div> -->
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="noticeModalClose" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-notice">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                            <i class="material-icons">clear</i>
                                        </button>
                                        <h3 class="modal-title" id="myModalLabel">Close Order?</h3>
                                    </div>
                                    <div class="modal-body">
                                        <div class="instruction" style="font-size:20px">
                                            <p *ngIf="closeOrder != null && closeOrder[2] == 'Buy'" class="text-danger">
                                                Close #{{closeOrder[0]}}&nbsp;{{closeOrder[2]}}&nbsp;{{closeOrder[3]}}&nbsp;{{closeOrder[4]}}&nbsp;at&nbsp;{{feedBid}}
                                            </p>
                                            <p *ngIf="closeOrder != null && closeOrder[2] == 'Sell'" class="text-danger">
                                                Close #{{closeOrder[0]}}&nbsp;{{closeOrder[2]}}&nbsp;{{closeOrder[3]}}&nbsp;{{closeOrder[4]}}&nbsp;at&nbsp;{{feedAsk}}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="modal-footer text-center">
                                        <button type="button" class="btn btn-info btn-lg" data-dismiss="modal" (click)="onClose(closeOrder, closeOrder[2] === 'Buy' ? feedBid : feedAsk )">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="noticeModalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-notice">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                            <i class="material-icons">clear</i>
                                        </button>
                                        <h3 class="modal-title" id="myModalLabel">Delete Place?</h3>
                                    </div>
                                    <div class="modal-body">
                                        <div class="instruction" style="font-size:20px">
                                            <p *ngIf="closeOrder != null && closeOrder[2] == 'Buy Limit'" class="text-danger">
                                                Delete #{{closeOrder[0]}}&nbsp;{{closeOrder[2]}}&nbsp;{{closeOrder[3]}}&nbsp;{{closeOrder[4]}}&nbsp;at&nbsp;{{feedBid}}
                                            </p>
                                            <p *ngIf="closeOrder != null && closeOrder[2] == 'Sell Limit'" class="text-danger">
                                                Delete #{{closeOrder[0]}}&nbsp;{{closeOrder[2]}}&nbsp;{{closeOrder[3]}}&nbsp;{{closeOrder[4]}}&nbsp;at&nbsp;{{feedAsk}}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="modal-footer text-center">
                                        <button type="button" class="btn btn-info btn-lg" data-dismiss="modal" (click)="onDelete(closeOrder, closeOrder[2] === 'Buy Limit' ? feedBid : feedAsk )">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <input type="hidden" #hdSell [value]='feedBid'>
                            <button *ngIf="feedBid != '' " data-target="#noticeModalOrder" data-toggle="modal" class="btn btn-white btn-lg">
                                <p style="font-size: 18px; text-align: left">Sell</p>
                                <div [class]="clsBtnBid">
                                    <span [innerHTML]="feedBid.split('.')[0]" style="font-size:35px"></span>
                                    .
                                    <span [innerHTML]="feedBid.split('.')[1]" style="font-size:50px"></span>
                                </div>
                            </button>
                            <input type="hidden" #hdBuy [value]='feedAsk'>
                            <button *ngIf="feedAsk != '' " data-target="#noticeModalOrder" data-toggle="modal" class="btn btn-white btn-lg">
                                <p style="font-size: 18px; text-align: right">Buy</p>
                                <div [class]="clsBtnAsk">
                                    <span [innerHTML]="feedAsk.split('.')[0]" style="font-size:35px"></span>
                                    .
                                    <span [innerHTML]="feedAsk.split('.')[1]" style="font-size:50px"></span>
                                </div>
                            </button>
                        </div>
                        <!-- <div class="input-group" style="margin:auto;">
                            <input class="form-control" style="width:60px;text-align:center;font-size:18px" type="number" #size number="true" min="0.01"
                                (blur)="onBlur(size.value)" [(ngModel)]="txtSize" max="8.0" maxlength="4" value="0.01" step="0.01"
                                onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46 || event.charCode === 0">
                        </div> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header card-header-text" data-background-color="blue">
                <h4>
                    <strong>Order List</strong>
                </h4>
            </div>
            <div class="content table-responsive">
                <table class="table">
                    <thead class="text-primary">
                        <tr>
                            <th style="font-weight:bold">Order</th>
                            <th style="font-weight:bold" class='order-align' *ngFor="let item of tableData.headerRow">{{ item }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of tableData.dataRows">
                            <td>{{ item[0] }}</td>
                            <td class='order-align'>{{ item[1] | date: 'yyyy.MM.dd hh:mm:ss' }}</td>
                            <!-- <td class='order-align'>
                                <span *ngIf="item[2] == 'Sell' || item[2] == 'Sell Limit'; then thenTemplate; else elseTemplate"></span>
                                <ng-template #thenTemplate>
                                    <span class='label label-danger' style='font-size:7px'>{{ item[2] }}</span>
                                </ng-template>
                                <ng-template #elseTemplate>
                                    <span class='label label-info' style='font-size:7px'>{{ item[2] }}</span>
                                </ng-template>
                            </td> -->
                            <td class='order-align'>
                                <ng-container *ngIf="item[2]=='Buy' || item[2] == 'Buy Limit'; then buy"></ng-container>
                                <ng-container *ngIf="item[2]=='Sell' || item[2] == 'Sell Limit'; then sell"></ng-container>

                                <ng-template #sell>
                                    <span class='label label-danger' style='font-size:7px'>{{ item[2] }}</span>
                                </ng-template>
                                <ng-template #buy>
                                    <span class='label label-info' style='font-size:7px'>{{ item[2] }}</span>
                                </ng-template>
                            </td>
                            <td class='order-align'>{{ (item[3] !== null) ? (item[3]) : '' }}</td>
                            <td class='order-align'>{{ item[4] }}</td>
                            <td class='order-align'>{{ item[5] }}</td>
                            <td class='order-align'>{{ item[6] }}</td>
                            <td class='order-align'>{{ item[7] }}</td>
                            <td class='order-align'>{{ item[8] }}</td>
                            <td class='order-align'>{{ item[9] }}</td>
                            <td class='order-align'>{{ item[10] }}</td>
                            <td class='order-align'>{{ item[11] }}</td>
                            <!-- <td class="td-actions" style="width:4px">
                                <button type="button" matTooltip="Close #{{ item[0] }}" [matTooltipPosition]="'above'" class="btn btn-simple" data-toggle="modal"
                                    data-target="#noticeModalClose">
                                    <i class="material-icons" (click)="closeOrder = item">clear</i>
                                </button>
                            </td> -->
                            <td class="td-actions" style="width:4px">
                                <ng-container *ngIf="item[2]=='Sell Limit' || item[2] == 'Buy Limit'; then limit"></ng-container>
                                <ng-container *ngIf="item[2]=='Sell' || item[2] == 'Buy'; then buysell"></ng-container>

                                <ng-template #buysell>
                                    <button type="button" matTooltip="Close #{{ item[0] }}" [matTooltipPosition]="'above'" class="btn btn-simple" data-toggle="modal"
                                    data-target="#noticeModalClose">
                                    <i class="material-icons" (click)="closeOrder = item">clear</i>
                                </button>
                                </ng-template>
                                <ng-template #limit>
                                    <button type="button" matTooltip="Delete #{{ item[0] }}" [matTooltipPosition]="'above'" class="btn btn-simple" data-toggle="modal"
                                    data-target="#noticeModalDelete">
                                    <i class="material-icons" (click)="closeOrder = item">clear</i>
                                </button>
                                </ng-template>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr style='background-color:silver;font-size:18px'>
                            <th colspan='11'>{{this.orderTotal.TotalText}}</th>
                            <th class='order-align' colspan='2'>{{ this.orderTotal.ProfitText }}</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>


        <!-- <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header card-header-text" data-background-color="orange">
                    <h4>Trade</h4>
                </div>
                <div class="card-content">
                    <div class="content table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <tr>
                                    <th *ngFor="let item of tableData.headerRow">{{ item }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of tableData.dataRows">
                                    <td>{{ item[0] }}</td>
                                    <td>{{ item[1] | date: 'yyyy.MM.dd hh:mm:ss' }}</td>
                                    <td>
                                        <span *ngIf="item[2]== 'Sell'; then thenTemplate; else elseTemplate"></span>
                                        <ng-template #thenTemplate>
                                            <span class='label label-danger' style='font-size:8px'>{{ item[2] }}</span>
                                        </ng-template>
                                        <ng-template #elseTemplate>
                                            <span class='label label-info'>{{ item[2] }}</span>
                                        </ng-template>
                                    </td>
                                    <td>{{ (item[3] !== null) ? (item[3]) : '' }}</td>
                                    <td>{{ item[4] }}</td>
                                    <td>{{ item[5] }}</td>
                                    <td>{{ item[6] }}</td>
                                    <td>{{ item[7] }}</td>
                                    <td>{{ item[8] }}</td>
                                    <td>{{ item[9] }}</td>
                                    <td>{{ item[10] }}</td>
                                    <td>{{ item[11] }}</td>
                                    <td class="td-actions" style="width:4px">
                                        <button type="button" matTooltip="Close #{{ item[0] }}" [matTooltipPosition]="'left'" class="btn btn-simple">
                                            <i class="material-icons" (click)="onClose(item[0], item[8])">clear</i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div> -->

        <!-- <div class="card">
            <div class="card-content">
                <ul class="nav nav-pills nav-pills-info">
                    <li class="active">
                        <a href="#pill1" data-toggle="tab" style="font-size:16px">Trade</a>
                    </li>
                    <li>
                        <a href="#pill2" data-toggle="tab" style="font-size:16px">Account History</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="pill1">
                        <div class="content table-responsive">
                            <table class="table">
                                <thead class="text-primary">
                                    <tr>
                                        <th style="font-weight:bold">Order</th>
                                        <th style="font-weight:bold" class='order-align' *ngFor="let item of tableData.headerRow">{{ item }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of tableData.dataRows">
                                        <td>{{ item[0] }}</td>
                                        <td class='order-align'>{{ item[1] | date: 'yyyy.MM.dd hh:mm:ss' }}</td>
                                        <td class='order-align'>
                                            <span *ngIf="item[2]== 'Sell'; then thenTemplate; else elseTemplate"></span>
                                            <ng-template #thenTemplate>
                                                <span class='label label-danger' style='font-size:7px'>{{ item[2] }}</span>
                                            </ng-template>
                                            <ng-template #elseTemplate>
                                                <span class='label label-info' style='font-size:7px'>{{ item[2] }}</span>
                                            </ng-template>
                                        </td>
                                        <td class='order-align'>{{ (item[3] !== null) ? (item[3]) : '' }}</td>
                                        <td class='order-align'>{{ item[4] }}</td>
                                        <td class='order-align'>{{ item[5] }}</td>
                                        <td class='order-align'>{{ item[6] }}</td>
                                        <td class='order-align'>{{ item[7] }}</td>
                                        <td class='order-align'>{{ item[8] }}</td>
                                        <td class='order-align'>{{ item[9] }}</td>
                                        <td class='order-align'>{{ item[10] }}</td>
                                        <td class='order-align'>{{ item[11] }}</td>
                                        <td class="td-actions" style="width:4px">
                                            <button type="button" matTooltip="Close #{{ item[0] }}" [matTooltipPosition]="'above'" class="btn btn-simple">
                                                <i class="material-icons" (click)="onClose(item[0], item[8])">clear</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr style='background-color:silver'>
                                        <th colspan='11'>{{this.orderTotal.TotalText}}</th>
                                        <th class='order-align' colspan='2'>{{ this.orderTotal.ProfitText }}</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="pill2">
                        <div class="content table-responsive">
                            <table class="table">
                                <thead class="text-primary">
                                    <tr>
                                        <th style="font-weight:bold">Order</th>
                                        <th style="font-weight:bold" class='order-align' *ngFor="let item of tableDataHis.headerRow">{{ item }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of tableDataHis.dataRows">
                                        <td>{{ item[0] }}</td>
                                        <td class='order-align'>{{ item[1] | date: 'yyyy.MM.dd hh:mm:ss' }}</td>
                                        <td class='order-align'>
                                            <span *ngIf="item[2]== 'Sell'; then thenTemplate; else elseTemplate"></span>
                                            <ng-template #thenTemplate>
                                                <span class='label label-danger' style='font-size:7px'>{{ item[2] }}</span>
                                            </ng-template>
                                            <ng-template #elseTemplate>
                                                <span class='label label-info' style='font-size:7px'>{{ item[2] }}</span>
                                            </ng-template>
                                        </td>
                                        <td class='order-align'>{{ (item[3] !== null) ? (item[3]) : '' }}</td>
                                        <td class='order-align'>{{ item[4] }}</td>
                                        <td class='order-align'>{{ item[5] }}</td>
                                        <td class='order-align'>{{ item[6] }}</td>
                                        <td class='order-align'>{{ item[7] }}</td>
                                        <td class='order-align'>{{ item[8] | date: 'yyyy.MM.dd hh:mm:ss'}}</td>
                                        <td class='order-align'>{{ item[9] }}</td>
                                        <td class='order-align'>{{ item[10] }}</td>
                                        <td class='order-align'>{{ item[11] }}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr style='background-color:silver'>
                                        <th colspan='11'>{{ this.orderTotalHis.TotalText }}</th>
                                        <th class='order-align' colspan='2'>{{ this.orderTotalHis.BalanceText }}</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

    </div>
</div>